<select class="form-control" id="inputType" name="state">
    <option value="">Bitte wählen...</option>
    <option value="Baden Württemberg">Baden Württemberg</option>
    <option value="Bayern">Bayern</option>
    <option value="Berlin">Berlin</option>
    <option value="Brandenburg">Brandenburg</option>
    <option value="Bremen">Bremen</option>
    <option value="Hamburg">Hamburg</option>
    <option value="Hessen">Hessen</option>
    <option value="Mecklenburg-Vorpommern">Mecklenburg-Vorpommern</option>
    <option value="Niedersachsen">Niedersachsen</option>
    <option value="Nordrhein Westfalsen">Nordrhein Westfalsen</option>
    <option value="Rheinland-Pfalz">Rheinland-Pfalz</option>
    <option value="Saarland">Saarland</option>
    <option value="Sachsen">Sachsen</option>
    <option value="Sachsen-Anhalt">Sachsen-Anhalt</option>
    <option value="Schleswig-Holstein">Schleswig-Holstein</option>
    <option value="Thüringen">Thüringen</option>
</select>