<div class="container">
    <div class="row">
        <h3>Adressenten selektieren</h3>
    </div>
    <form action="" method="post" onsubmit="javascript:printMailingLabel();" id="printMailingLabel">
        <div class="col-md-8">
            <select class="form-select" name="searchField">
                <option value="not_used" selected>Bitte wählen</option>
                <option value="1">Adressen ohne Email (normaler Brief (DIN Lang: 110 x 220 mm (HxB)))</option>
                <option value="2">Anders Ort Post versand 1-2 Magazine (Versandtasche C4 229 x 324 mm (HxB))</option>
                <option value="3">Anders Ort Post versand 3 Magazine (Versandtasche B4 250 x 353 mm (HxB))</option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-success fa-pull-right">Daten holen und drucken</button>
        </div>
    </form>
</div>