<div class="container">
    <div class="row">
        <h3>Adressenten selektieren</h3>
    </div>
    <form action="" method="post" onsubmit="javascript:printMailingLabel();" id="printMailingLabel">
        <div class="col-md-8">
            <select class="form-select" name="searchField">
                <option value="not_used" selected>Bitte wählen</option>
                <option value="1">Adressen ohne Email</option>
                <option value="2">Anders Ort Post versand</option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-success fa-pull-right">Daten holen und drucken</button>
        </div>
    </form>
</div>