<form action="" method="post" onsubmit="javascript:exportCsvSearch();" id="exportCsvSearch">
    {% for i in 0..33 %}
    <div class="row">
        <div class="col-md-4">
            {{ include('./exports/searchSelect.html', {}) }}
        </div>
        {{ include('./exports/searchTerm.html', {}) }}
        <div class="col-md-4">
            <input type="text" class="form-control" name="searchValue" value="">
        </div>
    </div>
    {% endfor %}
    {{ include('./exports/searchLink.html', {}) }}
    <div class="col-12">
        <button type="submit" class="btn btn-success fa-pull-right">Daten exportieren</button>
    </div>
</form>