<form action="" method="post" onsubmit="javascript:exportMailDistributorSearch();" id="exportMailDistributorSearch">
    {% for i in 0..9 %}
    <div class="row">
        <div class="col-md-4">
            <select class="form-select" name="searchField">
                <option value="not_used" selected>Bitte wählen</option>
                <option value="customers_contact_information.contact_primary_mail_address">Primäre Email Adresse (Werte: 0, 1)</option>
                <option value="customers.active">Mitglied aktiv (Werte: 0, 1)</option>
                <option value="customers.board_of_directors">Vorstand (Werte: 0, 1)</option>
                <option value="customers.advisory_council">Beirat (Werte: 0, 1)</option>
                <option value="customers.buko_member">Buko Mitglied (Werte: 0, 1)</option>
                <option value="customers.no_member">kein Mitglied (Werte: 0, 1)</option>
                <option value="customers.ethics">Ehtik (Werte: 0, 1)</option>
                <option value="customers.youth">Jugendliche (Werte: 0, 1)</option>
                <option value="customers.retired">Pensioniert (Werte: 0, 1)</option>
                <option value="customers_contact_information.contact_data">E-Mail Adresse</option>
            </select>
        </div>
        {{ include('./exports/searchTerm.html', {}) }}
        <div class="col-md-4">
            <input type="text" class="form-control" name="searchValue" value="">
        </div>
    </div>
    {% endfor %}
    {{ include('./exports/searchLink.html', {}) }}
    <div class="col-12">
        <button type="submit" class="btn btn-success fa-pull-right">Daten exportieren</button>
    </div>
</form>