<div class="col-md-4">
    <select class="form-select" name="searchTerm" aria-label="Default select example">
        <option value="not_used" selected>Bitte wählen</option>
        <option value="equal">=</option>
        <option value="not_equal">!=</option>
        <option value="smaller"><</option>
        <option value="bigger">></option>
        <option value="smaller_equal"><=</option>
        <option value="bigger_equal">>=</option>
        <option value="like">enthält</option>
        <option value="like_start">beginnt mit</option>
        <option value="like_end">endet mit</option>
    </select>
</div>