<select class="form-select" name="searchField" id="findSearchField" onChange="javascript:changeInputFieldType(this, {{ index }});">
    <option value="not_used" selected>Bitte wählen</option>
    <option value="customers_contact_information.contact_primary_mail_address" data-field="select">Primäre Email Adresse (Werte: 0, 1)</option>
    <option value="customers.active" data-field="select">Mitglied aktiv (Werte: 0, 1)</option>
    <option value="customers.board_of_directors" data-field="select">Vorstand (Werte: 0, 1)</option>
    <option value="customers.advisory_council" data-field="select">Beirat (Werte: 0, 1)</option>
    <option value="customers.buko_member" data-field="select">Buko Mitglied (Werte: 0, 1)</option>
    <option value="customers.no_member" data-field="select">kein Mitglied (Werte: 0, 1)</option>
    <option value="customers.ethics" data-field="select">Ehtik (Werte: 0, 1)</option>
    <option value="customers.youth" data-field="select">Jugend (Werte: 0, 1)</option>
    <option value="customers.retired" data-field="select">Pensioniert (Werte: 0, 1)</option>
    <option value="cci.contactData" data-field="input">E-Mail Adresse</option>
    <option value="cci.contactData" data-field="input">Telefon</option>
    <option value="address.state" data-field="input">Bundesland</option>
    <option value="address.street" data-field="input">Straße</option>
    <option value="address.zip" data-field="input">Postleitzahl</option>
    <option value="address.city" data-field="input">Stadt</option>
    <option value="address.country" data-field="input">Land</option>
    <option value="address.type" data-field="input">Art (private,geschäftlich)</option>
    <option value="customers.firstname" data-field="input">Vorname</option>
    <option value="customers.lastname" data-field="input">Nachname</option>
    <option value="customers.title" data-field="input">Titel</option>
    <option value="customers.magazine_pdf" data-field="select">Anders Ort PDF (Werte: 0, 1)</option>
    <option value="customers.magazine_print" data-field="select">Anders Ort Druck (Werte: 0, 1)</option>
    <option value="institute.institute" data-field="input">Einrichtung JVA</option>
    <option value="institute.diocese" data-field="input">Diozöse</option>
    <option value="organizational_form.men" data-field="select">Männer (Werte: 0, 1)</option>
    <option value="organizational_form.women" data-field="select">Frauen (Werte: 0, 1)</option>
    <option value="organizational_form.remand" data-field="select">Untersuchungshaft (Werte: 0, 1)</option>
    <option value="organizational_form.punishable" data-field="select">Strafhaft (Werte: 0, 1)</option>
    <option value="organizational_form.enforcement" data-field="select">Regelvollzug (Werte: 0, 1)</option>
    <option value="organizational_form.first_execution" data-field="select">Erstvollzug (Werte: 0, 1)</option>
    <option value="organizational_form.open_execution" data-field="select">Offener Vollzug (Werte: 0, 1)</option>
    <option value="organizational_form.youth" data-field="select">Jugendvollzug (Werte: 0, 1)</option>
    <option value="organizational_form.subject_to_deportation" data-field="select">Abschiebehaft (Werte: 0, 1)</option>
</select>