<div class="container">
    <div class="row">
        <h3>Mitglied anlegen</h3>
    </div>
    <form action="javascript:checkForm();" method="post" onsubmit="event.preventDefault(); javascript:insertMemberData();" id="addMemberForm">
        <div class="row">
            <div class="col-md-6">
                <label for="inputTitle" class="form-label">Titel</label>
                <input type="text" class="form-control" id="inputTitle" name="title" value="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="inputFirstname" class="form-label">Vorname</label>
                <input type="text" class="form-control" id="inputFirstname" name="firstname" value="">
            </div>
            <div class="col-md-6">
                <label for="inputLastname" class="form-label">Name</label>
                <input type="text" class="form-control" id="inputLastname" name="lastname" value="">
            </div>
        </div>
        <div class="col-12">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="active" id="active" checked>
                <label class="form-check-label" for="active">aktives Mitglied</label>
            </div>
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Straße (privat)</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Musterweg 1" name="private_street" value="">
        </div>
        <div class="col-12">
            <label for="inputCompanyName" class="form-label">Firmenname</label>
            <input type="text" class="form-control" id="inputCompanyName" name="private_companyname" value="" onkeyup="javascript:isCompanyNameFilled()">
        </div>
        <div class="col-12">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="private_eg" id="egPrivate">
                <label class="form-check-label" for="egPrivate">zu Händen</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" id="inputCity" name="private_city" value="">
            </div>
            <div class="col-md-2">
                <label for="inputZip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="inputZip" name="private_zip" value="">
            </div>
            <div class="col-md-2">
                <label for="inputState" class="form-label">Bundesland</label>
                <input type="text" class="form-control" id="inputState" name="private_state" value="">
            </div>
            <div class="col-md-2">
                <label for="inputCountry" class="form-label">Land</label>
                <input type="text" class="form-control" id="inputCountry" name="private_country" value="">
              </div>
            <input type="hidden" name="private_type" value="private">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Straße (Geschäftlich)</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Musterweg 1" name="business_street" value="">
        </div>
        <div class="col-12">
            <label for="inputCompanyNameBusiness" class="form-label">Firmenname</label>
            <input type="text" class="form-control" id="inputCompanyNameBusiness" name="business_companyname" value="" onkeyup="javascript:isCompanyNameFilled()">
        </div>
        <div class="col-12">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="business_eg" id="egBusiness">
                <label class="form-check-label" for="egBusiness">zu Händen</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" id="inputCity" name="business_city" value="">
            </div>
            <div class="col-md-2">
                <label for="inputZip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="inputZip" name="business_zip" value="">
            </div>
            <div class="col-md-2">
                <label for="inputState" class="form-label">Bundesland</label>
                <input type="text" class="form-control" id="inputState" name="business_state" value="">
            </div>
            <div class="col-md-2">
                <label for="inputCountry" class="form-label">Land</label>
                <input type="text" class="form-control" id="inputCountry" name="business_country" value="">
            </div>
            <input type="hidden" name="business_type" value="business">
        </div>
        <div class="col-12">
            <label for="inputContactPrivatePhone" class="form-label">Privates Telefon</label>
            <input type="tel" class="form-control" id="inputContactPrivatePhone" name="contact_data" value="">
            <input type="hidden" name="contact_type" value="private_phone">
        </div>
        <div class="col-12">
            <label for="inputContactBusinessPhone" class="form-label">Geschäftliches Telefon</label>
            <input type="tel" class="form-control" id="inputContactBusinessPhone" name="contact_data" value="">
            <input type="hidden" name="contact_type" value="business_phone">
        </div>
        <div class="col-12">
            <label for="inputContactEmailPrimary" class="form-label">Primäre Email</label>
            <input type="email" class="form-control" id="inputContactEmailPrimary" name="contact_data" value="" placeholder="max@mustermann.de">
            <input type="hidden" name="contact_type" value="email_primary">
        </div>
        <div class="col-12">
            <label for="inputContactEmailSecond" class="form-label">weitere Email</label>
            <input type="email" class="form-control" id="inputContactEmailSecond" name="contact_data" value="">
            <input type="hidden" name="contact_type" value="email_second">
        </div>
        <div class="card mt-3">
            <div class="card-header">
              Anstaltsinfo
            </div>  
            <div class="card-body"> 
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">JVA</label>
                    <input type="text" class="form-control" name="institute" value="">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Diözese</label>
                    <input type="text" class="form-control" name="diocese" value="">
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="men" id="men">
                    <label class="form-check-label" for="men">Männer</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="remand" id="remand">
                    <label class="form-check-label" for="remand">Untersuchungshaft</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="punishable" id="punishable">
                    <label class="form-check-label" for="punishable">Strafhaft</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="enforcement" id="enforcement">
                    <label class="form-check-label" for="enforcement">Regelvollzug</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="first_execution" id="first_execution">
                    <label class="form-check-label" for="first_execution">Erstvollzug</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="open_execution" id="open_execution">
                    <label class="form-check-label" for="open_execution">Offener Vollzug</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="women" id="women">
                    <label class="form-check-label" for="women">Frauen</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="org_youth" id="org_youth">
                    <label class="form-check-label" for="org_youth">Jugend</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="subject_to_deportation" id="subject_to_deportation">
                    <label class="form-check-label" for="subject_to_deportation">Abschiebehaft</label>
                </div>
            </div> 
        </div>
        <div class="card mt-3">
            <div class="card-header">
              Mitglieder Info
            </div>  
            <div class="card-body"> 
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="board_of_directors" id="board_of_directors">
                    <label class="form-check-label" for="board_of_directors">Vorstand</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="advisory_council" id="advisory_council">
                    <label class="form-check-label" for="advisory_council">Beirat</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="buko_member" id="buko_member">
                    <label class="form-check-label" for="buko_member">Buko Mitglied</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="no_member" id="no_member">
                    <label class="form-check-label" for="no_member">kein Mitglied</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="ethics" id="ethics">
                    <label class="form-check-label" for="ethics">Ehtik</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="youth" id="youth">
                    <label class="form-check-label" for="youth">Jugendliche</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="retired" id="retired">
                    <label class="form-check-label" for="retired">Pensioniert</label>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">
              Magazine
            </div>  
            <div class="card-body"> 
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="magazine_pdf" id="magazine_pdf" onchange="javascript:setNumbersOfMagazine('pdf');">
                    <label class="form-check-label" for="magazine_pdf">Magazine als PDF</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="magazine_print" id="magazine_print" onchange="javascript:setNumbersOfMagazine('print');">
                    <label class="form-check-label" for="magazine_print">Magazine per Post</label>
                </div>
                <div class="col-12">
                    <label for="numberOfMagazine" class="form-label">Anzahl der Magazine</label>
                    <input type="number" min="0" step="1" class="form-control" id="numberOfMagazine"  name="number_of_magazine" value="0">
                </div>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-success fa-pull-right">Mitglied speichern</button>
        </div>
    </form>
</div>