{% if result.pdf != null %}
<div class="card mt-3">
    <div class="card-header">
        Rechnungen / Dokumente
    </div>  
    <div class="card-body">
        {% for pdf in result.pdf %}
            <div class="row my-3">
                <span class="btn btn-success mt-3" id="bill" data-file="{{ pdf }}" onclick="loadPdfFile(this.getAttribute('data-file'), {{ result.customer_id }});">{{ pdf }}</span>
            </div>
        {% endfor %}
        <button type="button" class="btn btn-dark fa-pull-right mt-3" id="removeMemberDataBtn" onClick="alert('dialog.showOpenDialog()' + {{ result.customer_id }});">Daten speichern</button>
    </div>
</div>
{% endif %}