{% for addressData in result.address|split(',') %}
  {% set addressFields = addressData|split('$$') %}
  <div class="col-12 mt-3">
    <label for="inputAddress" class="form-label">Straße ({{ addressFields[3] }})</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Musterweg 1" name="{{ addressFields[3] }}_street" value="{{ addressFields[0] }}">
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity" name="{{ addressFields[3] }}_city" value="{{ addressFields[1] }}">
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip" name="{{ addressFields[3] }}_zip" value="{{ addressFields[2] }}">
    </div>
    <div class="col-md-2">
      <label for="inputState" class="form-label">Bundesland</label>
      <input type="text" class="form-control" id="inputState" name="{{ addressFields[3] }}_state" value="{{ addressFields[6] }}">
    </div>
    <div class="col-md-2">
      <label for="inputCountry" class="form-label">Land</label>
      <input type="text" class="form-control" id="inputCountry" name="{{ addressFields[3] }}_country" value="{{ addressFields[5] }}">
    </div>
  </div>
  <input type="hidden" name="{{ addressFields[3] }}_type" value="{{ addressFields[3] }}">
  <input type="hidden" name="addressId" value="{{ addressFields[4] }}">
  {% if loop.length != 2 %}
    {% if addressFields[3] == 'private' %}
      {% set addressType = 'business' %}
      <div class="col-12">
        <label for="inputAddress" class="form-label">Straße ({{ addressType }})</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Musterweg 1" name="new_{{ addressType }}_street" value="">
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity" name="new_{{ addressType }}_city" value="">
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip" name="new_{{ addressType }}_zip" value="">
        </div>
        <div class="col-md-2">
          <label for="inputState" class="form-label">Bundesland</label>
          <input type="text" class="form-control" id="inputState" name="{{ addressFields[3] }}_state" value="">
        </div>
        <div class="col-md-2">
          <label for="inputCountry" class="form-label">Land</label>
          <input type="text" class="form-control" id="inputCountry" name="new_{{ addressFields[3] }}_country" value="">
        </div>
      </div>
      <input type="hidden" name="new_{{ addressType }}_type" value="{{ addressType }}">
    {% else %}
      {% set addressType = 'private' %}
      <div class="col-12">
        <label for="inputAddress" class="form-label">Straße ({{ addressType }})</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Musterweg 1" name="new_{{ addressType }}_street" value="">
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity" name="new_{{ addressType }}_city" value="">
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip" name="new_{{ addressType }}_zip" value="">
        </div>
        <div class="col-md-2">
          <label for="inputState" class="form-label">Bundesland</label>
          <input type="text" class="form-control" id="inputState" name="{{ addressFields[3] }}_state" value="">
        </div>
        <div class="col-md-2">
          <label for="inputCountry" class="form-label">Land</label>
          <input type="text" class="form-control" id="inputCountry" name="new_{{ addressFields[3] }}_country" value="">
        </div>
      </div>
      <input type="hidden" name="new_{{ addressType }}_type" value="{{ addressType }}">
    {% endif %}
  {% endif %}
{% endfor %}