{% for addressData in result.address|split(',') %}
  {% set addressFields = addressData|split('$$') %}
  <div class="card mt-3">
    <div class="card-header">
      {{ addressFields[3]|replace({'p': 'P', 'b': 'B', 'invoice': 'Rechnung'}) }} Adresse
    </div>  
    <div class="card-body"> 
      <div class="col-12 mt-3">
        <label for="inputAddress" class="form-label">Straße ({{ addressFields[3] }})</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Musterweg 1" name="{{ addressFields[3] }}_street" value="{{ addressFields[0] }}">
      </div>
      <div class="col-12">
          <label for="inputCompanyName{{ addressFields[3] }}" class="form-label">Firmenname</label>
          <input type="text" class="form-control" id="inputCompanyName{{ addressFields[3]|replace({'p': 'P', 'b': 'B'}) }}" name="{{ addressFields[3] }}_companyname" value="{{ addressFields[8] }}" onkeyup="javascript:isCompanyNameFilled()">
      </div>
      <div class="col-12">
          <div class="form-check form-switch">
              {% if addressFields[7] == 1 %}
                <input class="form-check-input" type="checkbox" name="eg{{ addressFields[3]|replace({'p': 'P', 'b': 'B'}) }}" id="eg{{ addressFields[3]|replace({'p': 'P', 'b': 'B'}) }}" checked>
              {% else %}
                <input class="form-check-input" type="checkbox" name="eg{{ addressFields[3]|replace({'p': 'P', 'b': 'B'}) }}" id="eg{{ addressFields[3]|replace({'p': 'P', 'b': 'B'}) }}">
              {% endif %}
                <label class="form-check-label" for="eg{{ addressFields[3]|replace({'p': 'P', 'b': 'B'}) }}">zu Händen</label>
          </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity" name="{{ addressFields[3] }}_city" value="{{ addressFields[1] }}">
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip" name="{{ addressFields[3] }}_zip" value="{{ addressFields[2] }}">
        </div>
        <div class="col-md-2">
          <label for="inputState" class="form-label">Bundesland</label>
          <input type="text" class="form-control" id="inputState" name="{{ addressFields[3] }}_state" value="{{ addressFields[6] }}">
        </div>
        <div class="col-md-2">
          <label for="inputCountry" class="form-label">Land</label>
          <input type="text" class="form-control" id="inputCountry" name="{{ addressFields[3] }}_country" value="{{ addressFields[5] }}">
        </div>
        <div class="col-md-2">
          <label for="inputType" class="form-label">Adress Typ</label>
          <select class="form-control" id="inputType" name="{{ addressFields[3] }}_type" onChange="javascript:setAttrOnChange(this)">
            {% if addressFields[3] == 'private' %}
              <option value="private" selected>Private</option>
            {% else %}
              <option value="private">Private</option>
            {% endif %}
            {% if addressFields[3] == 'business' %}
              <option value="business" selected>Geschäftlich</option>
            {% else %}
              <option value="business">Geschäftlich</option>
            {% endif %}
            {% if addressFields[3] == 'invoice' %}
              <option value="invoice" selected>Rechnung</option>
            {% else %}
              <option value="invoice">Rechnung</option>
            {% endif %}
          </select>
        </div>
      </div>
      <input type="hidden" name="addressId" value="{{ addressFields[4] }}">
    </div>
  </div>
{% endfor %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addressModal">
  Adresse hinzufügen
</button>
{{ include('./member/update/modalAddress.html', {memberId: result.customer_id})}}